@model LTMSV2.Models.SupplierLedgerReportParam

@{
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />

<script type="text/javascript">
    $(function () {
        $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

    });

    $(function () {
        $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

    });
  
    $(document).ready(function () {
        var url = '/Accounts/GetSupplierName';

        $("#SupplierName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: url,
                    datatype: "json",
                    data: {
                        term: request.term, SupplierTypeId: $('#SupplierTypeId').val()
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.SupplierName,
                                value: val.SupplierName,
                                ID: val.SupplierID,
                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            focus: function (e, i) {
                $("#SupplierName").val(i.item.label);
                $('#SupplierId').val(i.item.ID);
            },
            select: function (e, i) {
                e.preventDefault();
                $("#SupplierName").val(i.item.label);
                $('#SupplierId').val(i.item.ID);
            },
        });
       
    });
</script>

<section class="content-header">
    <h1 class="headingfont">@ViewBag.ReportName</h1>
</section>
@using (Html.BeginForm("SupplierLedger", "Reports", FormMethod.Post, new { @id = "supplierledger" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row ">

    <div class="col-md-2">
        <label class="headinglabel required ">From Date</label>
        @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control text-right", @required = "true" })
    </div>
    <div class="col-md-2">
        <label class="headinglabel required">To Date</label>
        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control text-right", @required = "true" })
    </div>
    <div class="col-md-2">
        <label class="required headinglabel">Supplier Type</label>
        @Html.DropDownListFor(model => model.SupplierTypeId, new SelectList(ViewBag.SupplierType, "SupplierTypeID", "SupplierType1"), new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SupplierTypeId)
    </div>
    <div class="col-md-3">
        <label class="headinglabel required" id="lblsuppliername">Supplier Name</label>
        @Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control", @autocomplete = "off", @required = "true" })
        @Html.HiddenFor(model => model.SupplierId)
    </div>
    <div class="col-md-2">
        <label class="headinglabel  required">Output</label>
        @Html.DropDownList("Output", new List<SelectListItem>
        {
            new SelectListItem{ Text="PDF", Value = "PDF" },
            new SelectListItem{ Text="EXCEL", Value = "EXCEL" },
            new SelectListItem{ Text="WORD", Value = "WORD" },

         }, "Select", new { @class = "form-control", @value = "PDF", @required = "true" })
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" id="btnreport" type="submit" style="margin-top:30px;width: 60px!Important;min-width: 50px!important;"><i class="fa fa-refresh" aria-hidden="true"></i></button>
    </div>
</div>
      
}
<div class="row no-margin" style="padding-top:10px">
    @{ Html.RenderAction("ReportFrame", "Accounts");}

</div>