@model IEnumerable<LTMSV2.Models.SupplierInvoiceVM>

@{

    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;
    var isprint = true;
    var isview = true;
    string path = "/SupplierInvoice/Index";
    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        LTMSV2.Models.SourceMastersModel obj = new LTMSV2.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isview = obj.GetViewpermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}
<script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />

<style>
    tfoot {
        display: table-header-group;
    }

    table input {
        width: 100%;
    }
</style>

<script type="text/javascript">
    $(function () {
        $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

    });

    $(function () {
        $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

        $('#ToDate').datepicker("setDate", new Date());
    });
    $(document).ready(function () {
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable({
            "aaSorting": [],
            //"dom": '<"top"i>rt<"top"flp><"clear">',
            //dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
            //       "<'row'<'col-sm-12'tr>>" +"<'row'<'col-sm-5'i><'col-sm-7'p>>",
            //"pagingType": "simple"
        });
        table.draw();
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#SupplierTypeId').val(@ViewBag.SupplierTypeId).trigger('change');

    });


</script>
<section class="content-header">
    <h1 class="headingfont">Supplier Invoice</h1>
</section>
<div class="row no-margin">
    <div class=" d-flex">
        <div class="col-md-2">
            <label class=" required headinglabel">Supplier Type</label>
            @Html.DropDownList("SupplierTypeId", new SelectList(@ViewBag.SupplierType, "SupplierTypeID", "SupplierType1"),"Select All", new { @class = "form-control" ,@id="SupplierTypeId"})
            @*@Html.DropDownList("StatusId", new SelectList(@ViewBag.CourierStatus, "CourierStatusID", "CourierStatus", @ViewBag.StatusId), "Select All", new { @class = "form-control", @value = 1, @id = "StatusId", @name = "StatusId" })*@
        </div>
        <div class="col-md-1">
            <label class="headinglabel">From </label>
            <input id="FromDate" class="form-control text-right" name="FromDate" type="text" value="@ViewBag.FromDate" />
        </div>

        <div class="col-md-1">
            <label class="headinglabel">To </label>
            <input type="text" id="ToDate" name="ToDate" class="form-control text-right" value="@ViewBag.ToDate" />
        </div>
        <div class="pull-left" style="padding-top:32px; padding-right:15px;padding-left:15px;">
            <a class="btn btn-primary btnwidth" href="Javascript:void(0)" style="width: 60px!Important;min-width: 50px!important;" onclick="location.href='@Url.Action("Index", "SupplierInvoice")?id=' + $('#SupplierTypeId').val() + '&FromDate=' + $('#FromDate').val() + '&ToDate=' + $('#ToDate').val()"><i class="fa fa-refresh" aria-hidden="true"></i></a>
        </div>
        <div class="pull-left" style="padding-top:32px;">
            <p class="indexbtnpadding">
                @if (@LTMSV2.Models.CommanFunctions.CheckCreateEntryValid() == false || !isadd)
                {
                    @Html.ActionLink("Create New", "Create", null, new { @disabled = "disabled", @class = "btn btn-primary btnwidth", @Title = "Create Not allowed in the previous financial year" })
                }
                else
                {
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btnwidth" })
                }

            </p>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<section class="content">
    @if (TempData["SuccessMsg"] != null)
    {
        <script type="text/javascript">
                      $(document).ready(function () {
                          $.notify("@TempData["SuccessMsg"]", "success");
                });
        </script>
    }
    <div class="table-responsive tblbackground" style="padding:15px">
        <table class="table table-responsive table-bordered tblfont" id="dataTables-example" style="width:100%;table-layout:fixed">
            <thead>
                <tr>
                    <th>
                        @Html.Label("Invoice Date")
                    </th>
                    <th>
                        @Html.Label("Invoice No")
                    </th>
                    <th>
                        @Html.Label("Supplier Nme")
                    </th>
                    <th>
                        @Html.Label("Supplier Type")
                    </th>
                    <th>
                        @Html.Label("Amount")
                    </th>
                    <th> Action</th>
                </tr>

            </thead>
            <tfoot>
                <tr>
                    <th>
                        @Html.Label("Invoice Date")
                    </th>
                    <th>
                        @Html.Label("Invoice No")
                    </th>
                    <th>
                        @Html.Label("Supplier Name")
                    </th>
                    <th>
                        @Html.Label("Supplier Type")
                    </th>
                    <th>
                        @Html.Label("Amount")
                    </th>
                    <th>

                    </th>
                </tr>
            </tfoot>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td class="text-right">

                            @LTMSV2.Models.CommanFunctions.GetShortDateFormat(@item.InvoiceDate)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupplierName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupplierType)
                        </td>
                        <td class="text-right">
                            @*@Html.DisplayFor(modelItem => item.Amount)*@
                            @LTMSV2.Models.CommanFunctions.GetDecimalFormat(item.Amount, "3")
                        </td>
                        <td>
                            <a href="@Url.Action("Create", new { id = item.SupplierInvoiceID })"><i class="fa fa-pencil"></i></a>|
                            <a href="#" onclick="Delete(@item.SupplierInvoiceID)"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>

                }
            </tbody>

        </table>
    </div>
</section>



<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete Invoice?")) {
            window.location.href = "/SupplierInvoice/Delete?id=" + ID;
        }
    }
</script>