@model IEnumerable<LTMSV2.Models.ComapanyVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<style>
    tfoot
    {
        display: table-header-group;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable();

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>
<section class="content-header">
    <h1 class="headingfont">Company</h1>

</section>
<div class="col-md-12">
<p class="indexbtnpadding pull-right">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btnwidth" })
</p>
</div>
<div class="clearfix"></div>

<section class="content">
      @if (TempData["SuccessMsg"] != null)
    {
    @* <div class="alert alert-success alert-dismissable" role="alert" id="divMsgHeader" ng-show="SuccessAlert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4><i class="icon fa fa-check"></i>Alert!</h4>
                                            <div id="divFinalMsg">@TempData["SuccessMsg"]</div>
                                        </div>*@
             <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                      });
                                                </script>
    }
    <div class="table-responsive tblbackground" style="padding: 15px">
        <table class="table table-responsive table-bordered tblfont" id="dataTables-example">
            <thead>
                <tr>
                    <th>
                        @Html.Label("Company Name")
                    </th>

                    <th>
                        @Html.Label("Country")
                    </th>

                    <th>
                        @Html.Label("City")
                    </th>
                    <th>
                        @Html.Label("Currency")
                    </th>

                    <th>Action</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th class="form-100">
                        @Html.Label("Company Name")
                    </th>

                    <th class="form-100">
                        @Html.Label("Country")
                    </th>

                    <th class="form-100">
                        @Html.Label("City")
                    </th>
                    <th>
                        @Html.Label("Currency")
                    </th>

                    <th style="display: none">Action</th>
                </tr>
            </tfoot>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AcCompany)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Currency)
                        </td>

                        <td>
                            <a href="@Url.Action("Edit", new { id = item.AcCompanyID })"><i class="fa fa-pencil"></i></a>|
            @*<a href="@Url.Action("Delete", new { id = item.RoleID })"><i class="fa fa-times"></i></a>*@
                            <a href="#" onclick="Delete(ID=@item.AcCompanyID)"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</section>

<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete Company?")) {
            window.location.href = "/CompanyMaster/DeleteConfirmed/?id=" + ID;
        }
    }
</script>
