@model LTMSV2.Models.TruckAssignVM

@{    
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}


    <script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />

<script type="text/javascript">
    var AWBItems = [];
    var RemoveAWBItems = [];
    $(document).ready(function () {
        AWBItems = [];

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });



        $('#TDDate').datetimepicker({ format: 'DD-MM-YYYY' });
        $('#TDDate').focus();
        GetConsignments();

        $("#RouteName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/TruckAssign/GetTripRouteData',
                    datatype: "json",
                    data: {
                        term: request.term, TripDate: $("#TDDate").val()
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.RouteName,
                                value: val.RouteName,
                                ItemID: val.RouteID
                            }
                        }))
                    }
                })
            },
            minLength: -1,
            autoFocus: false,
            focus: function (event, ui) {
                $('#RouteName').val(ui.item.value);
                $("#RouteID").val(ui.item.ItemID);
            },
            select: function (e, i) {
                e.preventDefault();
                $("#RouteName").val(i.item.label);
                $("#RouteID").val(i.item.ItemID);
            },

        });
        $("#VechicleName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/TruckAssign/GetTripRouteVechileData',
                    datatype: "json",
                    data: {
                        term: request.term, TripDate: $("#TDDate").val(), RouteId: $("#RouteID").val()
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.VehicleDescription,
                                value: val.VehicleDescription,
                                ItemID: val.VehicleID
                            }
                        }))
                    }
                })
            },
            minLength: -1,
            autoFocus: false,
            focus: function (event, ui) {
                $('#VechicleName').val(ui.item.value);
                $("#VehicleID").val(ui.item.ItemID);
            },
            select: function (e, i) {
                e.preventDefault();
                $("#VechicleName").val(i.item.label);
                $("#VehicleID").val(i.item.ItemID);
            },

        });

        $("#TDDate").change(function () {
            GetConsignments();
        });
        $("#txtawb").change(function () {
            $('#btnadd').trigger('click');
        });
        $("#btnadd").click(function () {
            debugger;
            if ($("#txtawb").val().trim() == '') {
                return;
            }
            else {
                $('#btnadd').attr('disabled', 'disabled');
            }

            $.ajax({
                type: "POST",
                url: "/InScan/GetAWBDetail",
                datatype: "Json",
                data: { id: $("#txtawb").val() },
                success: function (response) {
                    if (response.status == "ok") {
                        var data = response.data;
                        AWBItems.push(data);
                       // var i = $('#details tr').length - 1;
                        //$("#details").append('<tr>' + '<td id= >' + data.AWB + '<input type="hidden" value=' + $("#txtawb").val() + ' name="lst[' + i + '].AWB"></td><td><a href="javascript:void(0);" class="rem">Remove</a></td></tr>');
                        //$("#details").append('<tr awbno="' + $("#txtawb").val() + '">' + '<td>' + data.AWB + '</td><td>' + data.Origin + '</td><td>' + data.Destination + '</td><td><a awbno="' + $("#txtawb").val() + '" href="javascript:void(0);" class="rem">Remove</a></td></tr>');
                        $("#detailsbody").html('');
                        $.each(AWBItems, function (index, item) {
                            debugger;
                            // $('#details tr').length - 1;
                            $("#detailsbody").append('<tr awbno="' + item.AWB + '"><td>' + (parseInt(index) + 1) + '</td><td>' + item.AWB + '</td><td>' + item.Origin + '</td><td>' + item.Destination + '</td><td><a awbno="' + item.AWB + '" href="javascript:void(0);" class="rem">Remove</a></td></tr>');
                        });
                        $('#btnadd').removeAttr('disabled');
                        $("#txtawb").val('');
                        $("#txtawb").focus();
                    }
                    else {
                        $('#btnadd').removeAttr('disabled');
                        $("#txtawb").focus();
                        alert(response.message);
                    }

                    //$.each(data, function (index, value) {

                    //      var i = AWBItems.length; // $('#details tr').length - 1;
                    //      $("#details").append('<tr awbno="' +  $("#txtawb").val() + '">' + '<td>' + index + '</td><td>' + data.AWB + '</td><td>' + data.Origin + '</td><td>' + data.Destination + '</td><td><a awbno="' +  $("#txtawb").val() + '" href="javascript:void(0);" class="rem">Remove</a></td></tr>');
                    //});

                }


            });
        });

        $("#details").on('click', '.rem', function () {
            debugger;
            var remove_awbono = $(this).attr('awbno');

            var tempAWBItems = [];
            $.each(AWBItems, function (index, value) {
                debugger;
                if (value.AWB == remove_awbono) {
                    RemoveAWBItems.push(value);
                    return;
                }
            });
            $.each(AWBItems, function (index, value) {
                debugger;
                if (value.AWB != remove_awbono) {
                    tempAWBItems.push(value);
                }

            });
            AWBItems = [];
            AWBItems = tempAWBItems;
            //$(this).parent().parent().remove();
            $("#detailsbody").html('');
            $.each(AWBItems, function (index, item) {
                    $("#detailsbody").append('<tr awbno="' + item.AWB + '"><td>' + (parseInt(index) + 1) + '</td><td>' + item.AWB + '</td><td>' + item.Origin + '</td><td>' + item.Destination + '</td><td><a awbno="' + item.AWB + '" href="javascript:void(0);" class="rem">Remove</a></td></tr>');
            });
        });


        
        function DisplayAWBItems() {
            debugger;
          //  $('#details tr').slice(1).remove();
            $.ajax({
                type: "POST",
                url: "/InScan/GetAWB",
                datatype: "Json",
                data: { id: $("#QuickInscanID").val() },  //$("#CollectedByID option:selected").val()
                success: function (response) {
                    debugger;
                    console.log(response);
                    if (response.status == "ok") {
                        var quickinscan = response.masterdata;
                        $('#QuickInscanID').val(quickinscan.QuickInscanID);
                        $('#DepotID').val(quickinscan.DepotId).trigger('change');
                        $('#VehicleId').val(quickinscan.VehicleId).trigger('change');
                        $('#DriverName').val(quickinscan.DriverName);
                        $('#CollectedByID').val(quickinscan.CollectedByID).trigger('change');
                        $('#ReceivedByID').val(quickinscan.ReceivedByID).trigger('change');
                        var myDate = new Date(quickinscan.QuickInscanDateTime.match(/\d+/)[0] * 1);
                        var cmon = myDate.getMonth() + 1;
                        var inscandate = myDate.getDate() + "-" + cmon + "-" + myDate.getFullYear() + ' ' + myDate.getHours() + ':' + myDate.getMinutes();
                        $('#QuickInscanDateTime').val(inscandate);
                        AWBItems = [];
                        AWBItems = response.data;

                        $.each(AWBItems, function (index, item) {
                            $("#detailsbody").append('<tr awbno="' + item.AWB + '"><td>' + (parseInt(index) + 1) + '</td><td>' + item.AWB + '</td><td>' + item.Origin + '</td><td>' + item.Destination + '</td><td><a awbno="' + item.AWB + '" href="javascript:void(0);" class="rem">Remove</a></td></tr>');
                        });

                    }
                    else {
                        AWBItems = [];
                          $("#detailsbody").html('');
                        $('#QuickInscanID').val('');
                        $('#DepotID').val('').trigger('change');
                        $('#VehicleId').val(0).trigger('change');
                        $('#DriverName').val('');
                        $('#CollectedByID').val(0).trigger('change');
                        $('#ReceivedByID').val(0).trigger('change');
                          var d = new Date();
                        var curr_date = d.getDate();
                        var curr_month = d.getMonth()+1;
                        var curr_year = d.getFullYear();
                        var reqdate = curr_date + "-" + curr_month + "-" + curr_year + ' ' + d.getHours() + ':' + d.getMinutes();
                         $('#QuickInscanDateTime').val(reqdate);

                    }

                }
            });
        }
        $('#btnsave').click(function () {
            var SelectedInScanId = '';
            var RemovedAWB = '';
            $.each(AWBItems, function (index, item) {

                //var awbitem = { InscanID: item.InScanId, AWB: item.AWB };
                if (SelectedInScanId != '')
                    SelectedInScanId += ',';

                SelectedInScanId = SelectedInScanId + item.InScanId;
                //lst1.push(awbitem);
            });
            
            if (SelectedInScanId == '') {
                $.notify("Awb No. Not Found! ", "warning");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/TruckAssign/SubmitTruckAssign",
                    datatype: "Json",
                    data: { TripDate: $('#TDDate').val(), RouteId: $("#RouteID").val(), VehicleId: $("#VehicleID").val(), InscanId: SelectedInScanId },
                    success: function (response) {
                        if (response.status == "ok") {

                            $.notify(response.message, "success");
                            window.location = "/TruckAssign/index";
                        }
                        else {

                            $.notify(response.message, "warning");

                        }
                    }
                });
            }
        });
        $('#btnsave1').click(function () {
            var lst1 = [];
            var SelectedInScanId = '';
            var RemovedAWB = '';
             $.each(AWBItems, function (index, item) {

                 //var awbitem = { InscanID: item.InScanId, AWB: item.AWB };
                 if (SelectedInScanId != '')
                     SelectedInScanId += ',';

                 SelectedInScanId = SelectedInScanId + item.InScanId;
                //lst1.push(awbitem);
             });

            $.each(RemoveAWBItems, function (index, item) {

                 //var awbitem = { InscanID: item.InScanId, AWB: item.AWB };
                 if (RemovedAWB != '')
                     RemovedAWB += ',';

                 RemovedAWB = RemovedAWB +item.InScanId;
                //lst1.push(awbitem);
            });

            var saveobj = {
                QuickInscanID:$('#QuickInscanID').val(),
                DepotID: $('#DepotID').val(),
                DepotName: "",
                InScanSheetNo: $('#InScanSheetNo').val(),
                VehicleId: $('#VehicleId').val(),
                DriverName: $('#DriverName').val(),
                BranchId: 0,
                UserId: 0,
                CollectedByID: $('#CollectedByID').val(),
                ReceivedByID: $('#ReceivedByID').val(),
                QuickInscanDateTime: $('#QuickInscanDateTime').val(),
                SelectedInScanId: SelectedInScanId,
                RemovedInScanId :RemovedAWB
            }

             $.ajax({
                type: "POST",
                url: "/InScan/SaveQuickInScan",
                datatype: "Json",
                data: saveobj,
                success: function (response) {
                    if (response.status == "ok") {
                        $("#detailsbody").html('');
                        $('#QuickInscanID').val(0);
                        $('#DepotID').val(0);
                        $('#VehicleId').val(0).trigger('change');
                        $('#DriverName').val('');
                        $('#CollectedByID').val(0).trigger('change');
                        $('#ReceivedByID').val(0).trigger('change');
                         var myDate = new Date(quickinscan.QuickInscanDateTime.match(/\d+/)[0] * 1);
                        var cmon = myDate.getMonth() + 1;
                        var inscandate = myDate.getDate() + "-" + cmon + "-" + myDate.getFullYear() + ' ' + myDate.getHours() + ':' + myDate.getMinutes();
                        $('#QuickInscanDateTime').val(inscandate);

                        $('#InScanSheetNo').val('');
                        $("#txtawb").val('');
                        $('#InScanSheetNo').focus();
                        RemoveAWBItems = [];
                        AWBItems = [];
                        $.notify(response.message, "success");
                        window.location = "/InScan/index";
                    }
                    else {

                        $.notify(response.message, "warning");

                    }
                }
            });


        });
     if ('@ViewBag.EditMode' == "true") {
            DisplayAWBItems();
        }
        else {
            $('#DRSDate').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });
            $("#DRSDate").focus();
        }


        $("#InScanSheetNo").focus();
    });
    function GetConsignments() {
        $.ajax({
            type: "POST",
            url: "/TruckAssign/GetConsignmentsByDate",
            datatype: "Json",
            data: { TripDate: $("#TDDate").val() },
            success: function (response) {
                $('#txtawb').empty();
                $('#txtawb')
                    .append($("<option></option>")
                        .attr("value", "")
                        .text("Select")); 
                for (var i = 0; i < response.length; i++) {
                    $('#txtawb')
                        .append($("<option></option>")
                            .attr("value", response[i].InScanID)
                            .text(response[i].AWBNo)); 
                }
            }
        });
    }
</script>


<section class="content-header">
    <h1 class="headingfont">@ViewBag.Title</h1>

</section>
<div class="row">
    <div class="col-md-12 btn-right" style="padding-top:10px;padding-bottom: 25px;">
                        <div class="row no-margin btn-right" style="padding-top:10px">
                            <div class="col-md-12">
                                <input type="button" value="Save" class="btn btn-primary btnwidth" data-toggle="tooltip" title="Click here" id="btnsave" />
                                <a href='@Url.Action("Index", "TruckAssign")' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here" style="margin-left:5px;">Cancel</a>

                            </div>
                        </div>
                    </div>
</div>
<section class="content">
    @if (TempData["SuccessMsg"] != null)
    {
        <script type="text/javascript">
                  $(document).ready(function () {
                      $.notify("@TempData["SuccessMsg"]", "success");
                 });
        </script>
    }
	
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
        <fieldset>
            <div class="row no-margin">

                <div class="col-md-4">
                    <label class="headinglabel required">Trip Date</label>
                    @Html.TextBoxFor(model => model.TDDate, new { @class = "form-control text-right" })
                    @Html.ValidationMessageFor(model => model.TDDate)
                </div>
                <div class="col-md-4">
                    <label class="headinglabel required">Route</label>
                    @Html.TextBoxFor(model => model.RouteName, new { @class = "form-control txttarget", @required = "true", @style = "", @placeholder = "Route Name" })
                    @Html.HiddenFor(model => model.RouteID)
                </div>
                <div class="col-md-4">
                    <label class="headinglabel required">Vehicle</label>
                    @Html.TextBoxFor(model => model.VechicleName, new { @class = "form-control txttarget", @required = "true", @style = "", @placeholder = "Vechile Name - Driver Name" })
                    @Html.HiddenFor(model => model.VehicleID)
                </div>

            </div>
                
                <div class="row no-margin" style="padding-top:10px">
                    <div class="col-md-3">
                        <label class="headinglabel required">Consignment No.</label>
                        <input type="text"id="txtawb" class="form-control" />
                        @*<select  id="txtawb" class="form-control" >
                            <option value="">Select</option>
                        </select>*@
                    </div>
                    <div class="col-md-3" style="padding-top:10px">
                      <button type="button" id="btnadd" class="btn btn-primary small_btn"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
						
                    </div>
                
                </div>

                <div class="row no-margin" style="padding-top:30px">

                    <div class="col-md-12">
                        <table id="details" class="table table-responsive table-bordered" style="background-color:white">
                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>AWB No.</th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody id="detailsbody"></tbody>
                        </table>
                    </div>
                </div>




</fieldset>
    }
</section>
