@model LTMSV2.Models.TruckDetail

@using LTMSV2.Models
@using System.Linq
@{
    Layout = null;
    var _mindate = @LTMSV2.Models.CommanFunctions.GetMinFinancialDate(); //'2020/01/01',
    var _maxdate = @LTMSV2.Models.CommanFunctions.GetMaxFinancialDate();
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIFoseM09VMMtw9s6E_h7LmRrdsZ0jkPU&libraries=places&callback=initAutocomplete" async defer></script>
<script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />

<script type="text/javascript">
    var autocomplete, autocomplete1 ;

    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search predictions to
        // geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'), { types: ['geocode'] });

        // Avoid paying for data that you don't need by restricting the set of
        // place fields that are returned to just the address components.
        autocomplete.setFields(['address_component']);

        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);

        autocomplete1 = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete1'), { types: ['geocode'] });

        // Avoid paying for data that you don't need by restricting the set of
        // place fields that are returned to just the address components.
        autocomplete1.setFields(['address_component']);

        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete1.addListener('place_changed', fillInAddress);


    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        var place1 = autocomplete1.getPlace();




    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle(
                    { center: geolocation, radius: position.coords.accuracy });
                if (val == 1) {
                    autocomplete.setBounds(circle.getBounds());
                } else {
                    autocomplete1.setBounds(circle.getBounds());
                }
            });
        }
    }


    $(document).ready(function () {
        if ('@Model.TruckDetailID' > 0) {
            $("#RegNo").val('@Model.RegNo');
            $("#RouteID").val('@Model.RouteID');
            $("#TypeOfLoad").val('@Model.TypeOfLoad');
            $("#CurrencyIDRent").val('@Model.CurrencyIDRent');
            //$("#CurrencyRent").val('@Model.CurrencyRent');
            $("#PaymentCurrencyID").val('@Model.PaymentCurrencyID');
            $("#StatusPaymentMode").val('@Model.StatusPaymentMode');
            $.ajax({
                type: "POST",
                url: "/DailyTrips/GetAcHeadsById",
                datatype: "Json",
                data: { acheadid: '@Model.RentAcHeadID', paymentheadid: '@Model.PaymentHeadID', ControlAc: '@Model.TDcontrolAcHeadID' },
                success: function (data) {
                    $("#ORentAcHead").val(data.Achead);
                    $("#OPaymentHead").val(data.PaymentAc);
                    $("#OTDcontrolAcHead").val(data.controlac);
                }
            });
            $.ajax({
                type: "POST",
                url: "/DailyTrips/GetDriverById",
                datatype: "Json",
                data: { DriverId: '@Model.DriverID' },
                success: function (data) {
                    $("#ODriverName").val(data.Driver);

                }
            });
        }
        $('#TDDate').datetimepicker({
            maxDate: '@_maxdate',
            minDate: '@_mindate', format: 'DD-MM-YYYY HH:mm'
        });
        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1;
        var curr_year = d.getFullYear();

        var reqdate = curr_date + "-" + curr_month + "-" + curr_year + ' ' + d.getHours() + ':' + d.getMinutes();
        $('#TDDate').val(reqdate);
        $("#DriverName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/DailyTrips/Drivers',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.DriverName,
                                value: val.DriverName,
                                Id: val.DriverID,
                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            focus: function (event, ui) {
                $('#DriverName').val(ui.item.value);
            },
            select: function (e, i) {
                e.preventDefault();
                $("#DriverName").val(i.item.label);
                $('#DriverID').val(i.item.Id);
            },

        });
        $("#RentAcHead").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/DailyTrips/AcHead',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.AcHead,
                                value: val.AcHead,
                                Id: val.AcHeadID,
                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            focus: function (event, ui) {
                $('#RentAcHead').val(ui.item.value);
            },
            select: function (e, i) {
                e.preventDefault();
                $("#RentAcHead").val(i.item.label);
                $('#RentAcHeadID').val(i.item.Id);
            },

        });
        $("#PaymentHead").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/DailyTrips/AcHead',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.AcHead,
                                value: val.AcHead,
                                Id: val.AcHeadID,
                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            focus: function (event, ui) {
                $('#PaymentHead').val(ui.item.value);
            },
            select: function (e, i) {
                e.preventDefault();
                $("#PaymentHead").val(i.item.label);
                $('#PaymentHeadID').val(i.item.Id);
            },

        });
        $("#TDcontrolAcHead").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/DailyTrips/AcHead',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.AcHead,
                                value: val.AcHead,
                                Id: val.AcHeadID,
                            }
                        }))
                    }
                })
            },
            minLength: 1,
            autoFocus: false,
            focus: function (event, ui) {
                $('#TDcontrolAcHead').val(ui.item.value);
            },
            select: function (e, i) {
                e.preventDefault();
                $("#TDcontrolAcHead").val(i.item.label);
                $('#TDcontrolAcHeadID').val(i.item.Id);
            },

        });
        $('#FormHired').validate({ // initialize the plugin
            rules: {
                TDDate: {
                    required: true,

                },

                DriverID: {
                    required: true,

                },
                //RegNo: {
                //    required: true,

                //},
                OriginName: {
                    required: true,

                },
                DestinationName: {
                    required: true,

                },
                TypeOfLoad: {
                    required: true,

                },
                Rent: {
                    required: true,

                },
                CurrencyIDRent: {
                    required: true,

                },
                CurrencyRent: {
                    required: true,

                },
                RentAcHead: {
                    required: true,

                },
                PaymentHead: {
                    required: true,

                },
                TDcontrolAcHead: {
                    required: true,

                },
                CurrencyAmount: {
                    required: true,

                },
                PaymentCurrencyID: {
                    required: true,

                },
            },
        });
        $("#btnsave").click(function () {
            if ($('#FormHired').valid()) {
                var data = $('#FormHired').serialize();
                console.log(data);
                $.ajax({
                    type: 'POST',
                    url: "/DailyTrips/SaveHiredVehicle",
                    data: data,
                    success: function (response) {
                        if (response.success == true) {
                            $.notify("Submitted Successfully!", "success");
                            location.href = "/DailyTrips/Index";
                        } else {
                            $.notify(response.message, "error");
                        }
                    }
                });

            }
        });
    });
</script>



<section class="content">

    <form id="FormHired">
        <div id="validations" style="color: red; margin-left: 7px; display: none">* Please fill mandatory fields</div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })




        <div class="row no-margin">
            <div class="col-md-12">
                <h3 style="color: white">Hired Vehicle</h3>
                <hr />
            </div>

        </div>



        <div class="row no-margin">
            <div class="col-md-3 form-group">
                @Html.HiddenFor(model => model.TruckDetailID)
                <input type="hidden" id="VehicleType" name="VehicleType" value="H" />
                <label class="headinglabel required">Date</label>
                @Html.TextBoxFor(model => model.TDDate, new { @class = "form-control datepicker", @required = "true" })


            </div>

            <div class="col-md-3 form-group">
                <label class="headinglabel required">Driver</label>
                @Html.TextBoxFor(model => model.DriverName, new { @class = "form-control", @required = "true" })
                @Html.HiddenFor(model => model.DriverID)

            </div>

            <div class="col-md-3 form-group">
                <label class="headinglabel required">Registration Number</label>
                @Html.DropDownListFor(model => model.VehicleID, new SelectList(ViewBag.Vehicles, "VehicleId", "RegistrationNo"), "Select", new { @class = "form-control" })

                @*@Html.TextBoxFor(model => model.RegNo, new { @class = "form-control", @required = "true" })*@



            </div>



            <div class="col-md-3 form-group">
                <label class="headinglabel">Route</label>
                @Html.DropDownListFor(model => model.RouteID, new SelectList(@ViewBag.Routes, "RouteID", "RouteName"), "Select", new { @class = "form-control" })

            </div>
            <div class="col-md-3 form-group">
                <label class="headinglabel required">Originating Location</label>
                @Html.TextBoxFor(model => model.OriginName, new { @class = "form-control", id = "autocomplete",name="HOriginName", @onFocus = "geolocate(1)", @required = "true" })

            </div>


            <div class="col-md-3 form-group">
                <label class="headinglabel required">Destination Location</label>
                @Html.TextBoxFor(model => model.DestinationName, new { @class = "form-control", id = "autocomplete1", name = "HDestinationName", @onFocus = "geolocate(2)", @required = "true" })


            </div>


            <div class="col-md-3 form-group">
                <label class="headinglabel required">Type of Load</label>
                <select class="form-control" id="TypeOfLoad" name="TypeOfLoad" required>
                    <option value="Consolidated Truck">Consolidated Truck</option>
                    <option value="Full Truck">Full Truck</option>
                </select>
                @*@Html.TextBoxFor(model => model.TypeOfLoad, new { @class = "form-control", @required = "true" })*@
            </div>



            <div class="col-md-3 form-group">
                <label class="headinglabel required">Rent </label>

                @Html.TextBoxFor(model => model.Rent, new { @class = "form-control", @required = "true" })
            </div>

            <div class="col-md-3 form-group">
                <label class="headinglabel required">Currency</label>
                @Html.DropDownListFor(model => model.CurrencyIDRent, new SelectList(@ViewBag.Currency, "CurrencyID", "CurrencyName"), "Select", new { @class = "form-control", @required = "true" })

            </div>

            <div class="col-md-3 form-group">
                <label class="headinglabel">Other Charges</label>

                @Html.TextBoxFor(model => model.OtherCharges, new { @class = "form-control" })
            </div>

            @*<div class="col-md-3 form-group">
                <label class="headinglabel required">Currency</label>

                @Html.DropDownListFor(model => model.CurrencyRent, new SelectList(@ViewBag.Currency, "CurrencyID", "CurrencyName"), "Select", new { @class = "form-control" })
            </div>*@

            <div class="col-md-3 form-group">
                <label class="headinglabel required">Account Head</label>
                <input type="text" id="RentAcHead" name="RentAcHead" class="form-control" required/>
                @Html.HiddenFor(model => model.RentAcHeadID)

            </div>
            <div class="col-md-3 form-group">
                <label class="headinglabel">Remark</label>

                @Html.TextAreaFor(model => model.TDRemarks, new { @class = "form-control" })
            </div>

        </div>
        <div class="row no-margin">
            <div class="col-md-12">
                <h3 style="color: white">Payment Details</h3>
                <hr />
            </div>

        </div>
        <div class="row no-margin">


            <div class="col-md-3 form-group">
                <label class="headinglabel">Payment Type</label>
                <select class="form-contrl" id="StatusPaymentMode" name="StatusPaymentMode">
                    <option value="C">Cash</option>
                    <option value="B">Bank</option>
                    <option></option>
                </select>
                @*@Html.TextBoxFor(model => model.StatusPaymentMode, new { @class = "form-control", @maxlength = "2" })*@
            </div>

            <div class="col-md-3 form-group">
                <label class="headinglabel required">Account Head (Cr)</label>
                <input type="text" class="form-control" id="PaymentHead" name="PaymentHead" required />
                @Html.HiddenFor(model => model.PaymentHeadID)

            </div>

            <div class="col-md-3 form-group">
                <label class="headinglabel required">Control A/c (Dr)</label>
                <input type="text" class="form-control" id="TDcontrolAcHead" name="TDcontrolAcHead" required/>
                @Html.HiddenFor(model => model.TDcontrolAcHeadID)

                @*@Html.DropDownListFor(model => model.TDcontrolAcHeadID, new SelectList(@ViewBag.Achead, "AcHeadID", "AcHead1"), "Select", new { @class = "form-control" })*@
            </div>

            <div class="col-md-3 form-group">
                <label class="headinglabel required">Amount</label>

                @Html.TextBoxFor(model => model.CurrencyAmount, new { @class = "form-control" })
            </div>

            <div class="col-md-3 form-group">
                <label class="headinglabel required">Currency</label>
                @Html.DropDownListFor(model => model.PaymentCurrencyID, new SelectList(@ViewBag.Currency, "CurrencyID", "CurrencyName"), "Select", new { @class = "form-control" })

            </div>

            <div class="col-md-3 form-group">
                <label class="headinglabel">Payment Remark</label>

                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" })
            </div>

        </div>





        <div class="row no-margin" style="padding-top: 10px">

            <div class="col-md-12 btn-right">

                <input type="button" value="Save" class="btn btn-primary btnwidth" id="btnsave" />&nbsp;&nbsp;
                <a href='@Url.Action("Index", "DailyTrips")' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>


            </div>
        </div>



    </form>

</section>
