@model LTMSV2.Models.CustomerInvoiceVM

@{
    ViewBag.Title = "Create";
      Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();
}
<script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />
<script type="text/javascript">
    function setTwoNumberDecimal(obj) {
        if ($(obj).val() == null || $(obj).val() == "") {
            $(obj).val(0);
        }
        else {

            $(obj).val(parseFloat($(obj).val()).toFixed(@_decimal));
        }
    }
    function setThreeNumberDecimal(obj) {

       $(obj).val(parseFloat($(obj).val()).toFixed(3));
}
    $(function () {
        $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

        $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });
    });
</script>
<script>
    function printDiv() {
             
    var contents = document.getElementById("divreport").innerHTML;
    var frame1 = document.createElement('iframe');
    frame1.name = "frame1";
    frame1.style.position = "absolute";
    frame1.style.top = "-1000000px";
    document.body.appendChild(frame1);
    var frameDoc = frame1.contentWindow ? frame1.contentWindow : frame1.contentDocument.document ? frame1.contentDocument.document : frame1.contentDocument;
    frameDoc.document.open();
    frameDoc.document.write('<html><head><title>DIV Contents</title>');
    frameDoc.document.write('</head><body>');
    frameDoc.document.write(contents);
    frameDoc.document.write('</body></html>');
    frameDoc.document.close();
    setTimeout(function () {
        window.frames["frame1"].focus();
        window.frames["frame1"].print();
        document.body.removeChild(frame1);
    }, 500);
    return false;
}
</script>
<style>
.clear{
clear:both;}
.btn-right{
	padding:0;
}
</style>
<section class="content-header">
    <h1 class="headingfont" style="float:left";>Customer Invoice - Print</h1>
	 <div class="row no-margin" style="float:right;">
        <div class="col-md-12 btn-right">
            <input type="button" value="Print" class="btn btn-primary btnwidth" onclick="printDiv()" />&nbsp;&nbsp;
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger btnwidth float-right" })
        </div>
    </div>
	<div class="clear"></div>
</section>

<section class="content">
   
    <hr />
    <div class="" id="divreport">
        @Html.HiddenFor(model => model.CustomerInvoiceID)
        @Html.HiddenFor(model => model.CustomerID)
       <style>
          
           body{
		   font-family:Calibri;
		   }

            .invoiceRow {
                justify-content: space-between;
                align-items: center;
            }

            .logo {
               
                padding-bottom: 20px;
            }
			

            .invoiceRow table th {
                text-align: left;
            }
			.terms ol{
			padding:0;
			}

            .headrow {
                justify-content: space-between;
                align-items: flex-end;
            }

            .d-flex {
                display: flex;
            }

            table {
                width: 100%;
            }

            .trnrow {
                display: flex;
                justify-content: flex-end;
            }

            .invoiceRow table {
                border-radius: 15px;
                border: 2px solid #333;
                border-spacing: 0;
				    border-collapse: unset;
            }

                .invoiceRow table th, .invoiceRow table td {
                    padding: 5px 10px;
                }


            .rightInfo, .leftInfo, .logo, .rightBlock, .trnitem, .rightTotal {
                width: 40%;
            }

            .rightBlock, .trnitem {
                text-align: center;
            }

                .rightBlock h1 {
                    text-transform: uppercase;
                    color: #a51717;
                }

            .rightInfo table {
                background: #eee;
            }

                .rightInfo table th {
                    border-bottom: 2px dashed #333;
                }

                .rightInfo table th, .rightInfo table td {
                    border-right: 2px solid #333;
                }

                    .rightInfo table th:last-of-type, .rightInfo table td:last-of-type {
                        border-right: none;
                    }

            .particularInner table {
                border-spacing: 0;
            }

                .particularInner table th {
                       border-top: 2px solid #07a7e3;
						border-bottom: 2px solid #07a7e3;
						padding: 8px 6px;
						text-align: left;
						background: #07a7e3;
						font-size: 14px;
						color: #fff;
						font-weight: normal;
						-webkit-print-color-adjust: exact;
                }

                .particularInner table td, .rightTotal th, .rightTotal td {
                    padding: 5px 0;
                }

            .trnBlock {
                padding-bottom: 30px;
            }

            .particularInner table tr:last-of-type td {
                border-bottom: 2px solid #333;
            }

            .particularInner table > thead > th {
                font-size: 10pt;
                font-weight: 500;
            }

            .particularInner table > tbody > tr > td {
                font-size: 9pt !important;
            }

            .totalRow {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding: 10px 0;
            }

                .totalRow h3 {
                    padding-bottom: 20px;
                    text-decoration: underline;
                }

                .totalRow table {
                    font-weight: bold;
                    table-layout: fixed;
                    text-align: right;
                }

            .terms ol {
                list-style-position: inside;
            }

                .terms ol li {
                    padding: 5px 0;
                }

            .text-right {
                text-align: right;
            }
        </style>

        <header id="header" class="">
            <div class="d-flex headrow">
                <div class="logo">
                    <img src="@ViewBag.LogoPath" alt="" width="130px" height="100px" />
                </div>
                <div class="rightBlock">
                    <h1>Invoice </h1>
                </div>
            </div>
        </header>
        <section class="invoiceInfo">
            <div class="invoiceRow d-flex">
                <div class="leftInfo">
                    <table>
                        <tr>
                            <th colspan="2">@Model.CustomerName</th>
                        </tr>
                        <tr>
                            <td>Attn:Accounts Payable</td>
                        </tr>
                        <tr>
                            <td>@Model.CustomerCountryName</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Model.CustomerCityName</td>
                        </tr>
                        <tr>
                            <td>@Model.CustomerPhoneNo</td>
                        </tr>
                    </table>
                </div>
                <div class="rightInfo">
                    <table>
                        <tr>
                            <th>Account No.</th>
                            <th>Invoice Date </th>
                            <th>Invoice No.</th>
                        </tr>
                        <tr>
                            <td>564065465</td>
                            <td>@LTMSV2.Models.CommanFunctions.GetShortDateFormat(@Model.InvoiceDate)</td>
                            <td>@Model.CustomerInvoiceNo</td>
                        </tr>

                    </table>
                </div>
            </div>
        </section>
        <section class="trnBlock">
            <div class="trnrow">
                <div class="trnitem">
                    <h4>TRN <span>100380518900003</span></h4>
                </div>
            </div>
        </section>

        <section class="particulars">
            <div class="particularInner">
                <table>
                    <thead>
                    <th>SNo.</th>
                    <th>AWB No.</th>
                    <th>Date</th>
                    <th>Origin</th>
                    <th>Consignee</th>
                    <th>Destination</th>
                    <th>Weight</th>
                    <th>Pieces</th>
                    <th>Amount</th>


                    <tbody class="input-table" id="listContainer">
                        <tr>
                            <td colspan="2"><strong>@Model.ParcelType</strong></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><strong>@Model.CourierMovement</strong></td>
                        </tr>
                        @foreach (var item in Model.CustomerInvoiceDetailsVM)
                        {
                            <tr>
                                <td>

                                    @Html.HiddenFor(model => model.CustomerInvoiceDetailsVM[i].CustomerInvoiceDetailID, new { @Value = @item.CustomerInvoiceDetailID })
                                    @Html.HiddenFor(model => model.CustomerInvoiceDetailsVM[i].CustomerInvoiceID, new { @Value = @item.CustomerInvoiceID })
                                    @Html.HiddenFor(model => model.CustomerInvoiceDetailsVM[i].AWBNo, new { @Value = @item.AWBNo })
                                    @Html.HiddenFor(model => model.CustomerInvoiceDetailsVM[i].StatusPaymentMode, new { @Value = @item.StatusPaymentMode })
                                    @Html.HiddenFor(model => model.CustomerInvoiceDetailsVM[i].InscanID, new { @Value = @item.InscanID })
                                    @Html.HiddenFor(model => model.CustomerInvoiceDetailsVM[i].CourierCharge, new { @Value = @item.CourierCharge })
                                    @Html.HiddenFor(model => model.CustomerInvoiceDetailsVM[i].CustomCharge, new { @Value = @item.CustomCharge })
                                    @Html.HiddenFor(model => model.CustomerInvoiceDetailsVM[i].OtherCharge, new { @Value = @item.OtherCharge })
                                    @Html.HiddenFor(model => model.CustomerInvoiceDetailsVM[i].TotalCharges, new { @Value = @item.TotalCharges })


                                    <div class="col-md-1 checkboxdesign">
                                        @(i + 1)

                                    </div>
                                </td>
                                <td>
                                    @item.AWBNo
                                </td>
                                <td>
                                    @LTMSV2.Models.CommanFunctions.GetShortDateFormat(@item.AWBDateTime)
                                </td>
                                <td>
                                    @item.Origin
                                </td>
                                <td>
                                    @item.ConsigneeName
                                </td>
                                <td>
                                    @item.ConsigneeCountryName
                                </td>
                                <td class="text-right">
                                    @LTMSV2.Models.CommanFunctions.GetDecimalFormat(@item.Weight, "3")
                                </td>
                                <td class="text-right">
                                    @item.Pieces
                                </td>
                                <td class="text-right">
                                    @LTMSV2.Models.CommanFunctions.GetFormatNumber(@item.TotalCharges, _decimal)
                                </td>

                                @*<td style="width:101px">
                                        <a onclick="deleteAWBItem('@i')" href="javascript:void(0);"><i class="fa fa-times"></i></a>
                                    </td>*@
                            </tr>
                            i++;
                        }
                    </tbody>

                </table>

            </div>
        </section>
        <section class="totalBlock">
            <div class="totalRow">
                <div class="leftTotal">
                    <h3>@Model.CurrencyName: - (@Model.InvoiceTotalInWords )</h3>
                    <h2> @Model.generalSetup.Text1</h2>
                </div>
                <div class="rightTotal">
                    <table>
                        <tr>
                            <th>Total</th>
                            <td>@LTMSV2.Models.CommanFunctions.GetFormatNumber(@Model.TotalCharges, _decimal)</td>
                        </tr>
                        <tr>
                            <th>Other Charges</th>
                            <td>@LTMSV2.Models.CommanFunctions.GetFormatNumber(@Model.OtherCharge, @_decimal)</td>
                        </tr>
                        <tr>
                            <th>* Fuel Surcharge ? @LTMSV2.Models.CommanFunctions.GetFormatNumber(@Model.FuelPer, @_decimal)%</th>
                            <td>@LTMSV2.Models.CommanFunctions.GetFormatNumber(@Model.FuelAmt, @_decimal)</td>
                        </tr>
                        <tr>
                            <th>Admin Charges</th>
                            <td>@LTMSV2.Models.CommanFunctions.GetFormatNumber(@Model.AdminAmt, @_decimal)</td>
                        </tr>
                        <tr>
                            <th>Net Total </th>
                            <td>@LTMSV2.Models.CommanFunctions.GetFormatNumber(@Model.InvoiceTotal, @_decimal)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
        <footer>
            <div class="terms">
                @*@Html.Raw(@Model.invoiceFooter.ToString())*@
                <ol>
                    <li>@Model.generalSetup.Text2</li>
                    <li>@Model.generalSetup.Text3</li>
                    <li>@Model.generalSetup.Text4</li>
                    @*<li>The above balance will be considered correct if any discrepency not notified within 7 days  from the date of invoice.</li>
            <li>
                Payment should be made in cash or cheque favouring " Higway Express Courier Service "
            </li>
            <li>This is a system generated invoice and does not require signature</li>*@
                </ol>
                @*<p><strong>* Fuel Surcharge per shipment applies. Fuel Surcharge is based on the monthly average spot prices for kerosene/jet fuel (Rotterdam ARA)</strong></p>*@
                <p><strong>@Model.generalSetup.Text5</strong></p>
            </div>
        </footer>
    </div>

</section>

