@model IEnumerable<LTMSV2.Models.CustomerInvoiceVM>
@{
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();  
    }


<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerInvoiceNo)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.InvoiceDate)*@
                @LTMSV2.Models.CommanFunctions.GetShortDateFormat(@item.InvoiceDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td class="text-right" >
                @LTMSV2.Models.CommanFunctions.GetDecimalFormat(@item.InvoiceTotal, "3")
                

            </td>
            <td style="font-size:13px;" >
                @*<a target="_blank" href="ExportShipmentReport?id=@item.CustomerInvoiceID"><i class="fa fa-print"></i></a>*@
                <a  class="aprint" target="_blank" href="InvoicePrint?id=@item.CustomerInvoiceID"><i class="fa fa-print"></i></a>

                <a class="aview"  href="Details?id=@item.CustomerInvoiceID"><i class="fa fa-eye"></i></a>
                
                <a  class="aedit" href="Edit?id=@item.CustomerInvoiceID"><i class="fa fa-pencil"></i></a>
                
                <a class="adelete"  href="#" onclick="Delete(@item.CustomerInvoiceID)"><i class="fa fa-times"></i></a>

            </td>
        </tr>
    }
</tbody>
<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure? You want to Delete this Invoice?")) {
            window.location.href = "/CustomerInvoice/DeleteConfirmed/?id=" + ID;
        }
    }
</script>

