@model IEnumerable<LTMSV2.Models.AcInvoiceOpeningVM>

@{
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";

}


<script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />
<style>
    tfoot {
        display: table-header-group;
    }
</style>
<script type="text/javascript">
    
    $(document).ready(function () {
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" style="width:100%" />');
        });
        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
  

    

    

    });
    
    function setThreeNumberDecimal(obj) {
        $(obj).val(parseFloat($(obj).val()).toFixed(3));
    }
</script>


<section class="content-header">
    <h1 class="headingfont">Invoice Opening Balance</h1>

</section>
<div class="row no-margin">
    <div class="d-flex">
        <div class="col-md-1">
            <label class="headinglabel">Total Debit</label>
            <input class="form-control text-right" style="color:#000000"  type="text" value="@ViewBag.TotalDebit" readonly />
        </div>
        <div class="col-md-1">
            <label class="headinglabel">Total Credit</label>
            <input type="text" class="form-control text-right"  style="color:orangered" value="@ViewBag.TotalCredit" readonly />
        </div>
        <div class="col-md-1">
            <label class="headinglabel">Balance</label>
            <input type="text" class="form-control text-right"  style="color:red" value="@ViewBag.Balance" readonly />
        </div>
        <div class="col-md-3">
            <label class="headinglabel">Invoice Type</label>
            @Html.DropDownList("Type", new List<SelectListItem>
           {
            new SelectListItem{ Text="All", Value = "All" },
               new SelectListItem{ Text="Customer", Value = "Customer" },
               new SelectListItem{ Text="Hired Drivers", Value = "Hired Drivers" },
               new SelectListItem{ Text="Forwarding Agents", Value = "Forwarding Agents" },
               new SelectListItem{ Text="Sundry Suppliers", Value = "Sundry Suppliers" }
              }, "", new { @class = "form-control" })
        </div>
        <div class="pull-left" style="padding-top:32px;">
            <p class="indexbtnpadding">
                <a class="btn btn-primary btnwidth" href="Javascript:void(0)" style="width: 60px!Important;min-width: 50px!important;" onclick="location.href='@Url.Action("AcOpeningInvoiceIndex", "Accounts")?type=' + $('#Type').val()"><i class="fa fa-refresh" aria-hidden="true"></i></a>

                @Html.ActionLink("Create New", "AcOpeningInvoice", null, new { @class = "btn btn-primary btnwidth" })


            </p>
        </div>
    </div>
    </div>
<section class="content">
    @if (TempData["SuccessMsg"] != null)
    {
        <script type="text/javascript">
                  $(document).ready(function () {
                      $.notify("@TempData["SuccessMsg"]", "success");
                 });
        </script>
    }


    <div class="table-responsive tblbackground" style="padding:15px">
        <table class="table table-responsive table-bordered tblfont" id="dataTables-example" style="width:100%">

            <thead>
                <tr>
                    <th width="10%">
                        Party Type
                    </th>
                    <th width="25%">
                        Party Name
                    </th>
                    <th width="10%">
                        Debit
                    </th>
                    <th width="10%">
                        Credit
                    </th>                                        
                    <th width="10%">Action</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th width="10%">
                        Party Type
                    </th>
                    <th width="25%">
                        Party Name
                    </th>
                    <th width="10%">
                        Debit
                    </th>
                    <th width="10%">
                        Credit
                    </th>
                    <th width="10%"></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.PartyType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartyName)                            
                        </td>

                        <td class="text-right">
                            @if (item.Debit > 0)
                            { 
                                @LTMSV2.Models.CommanFunctions.GetDecimalFormat(item.Debit, "3")
                            }

                        </td>
                        <td class="text-right">
                            @if (item.Credit > 0)
                            {
                                @LTMSV2.Models.CommanFunctions.GetDecimalFormat(item.Credit, "3")
                            }
                        </td>                                               
                        
                        <td>
                            
                            <a href="@Url.Action("AcOpeningInvoice", new { id = item.PartyID,invoicetype=item.StatusSDSC })"><i class="fa fa-pencil"></i></a>                            
                            
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</section>
