@model LTMSV2.Models.AccountsReportParam1
@{
    ViewBag.Title = "Trial Balance";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('#AsOnDate').datetimepicker({ format: 'DD-MM-YYYY' });

    });
</script>

<section class="content-header">
    <h1 class="headingfont">@ViewBag.ReportName</h1>
</section>
@using (Html.BeginForm("AcOpeningRegister", "Accounts", FormMethod.Post, new { @id = "ledger" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row no-margin d-flex">
        <div class="col-md-12 ">
            <div class="form-group">                                         
                <div class="col-md-2">
                    <label class="headinglabel  required">Output</label>
                    @Html.DropDownList("Output", new List<SelectListItem>
                    {
                        new SelectListItem{ Text="PDF", Value = "PDF",Selected=true  },
                        new SelectListItem{ Text="EXCEL", Value = "EXCEL" },
                        new SelectListItem{ Text="WORD", Value = "WORD" },

                     }, "Select", new { @class = "form-control", @value = "PDF", @required = "true" })
                </div>
                <div class="col-md-1" style="padding-top:30px">
                    <a class="btn btn-success btnwidth" href="Javascript:void(0)" style="width: 60px!Important;min-width: 50px!important;" onclick="location.href='@Url.Action("AcOpeningRegister", "Accounts")?output=' + $('#Output').val()"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                    @*<button class="btn btn-primary" id="btnreport" type="submit" style="margin-top:30px;width: 60px!Important;min-width: 50px!important;"><i class="fa fa-refresh" aria-hidden="true"></i></button>*@
                    @*<a target="_blank" href="/Accounts/AcOpeningRegister?output=$('#Output').val()" class="btn btn-primary" style="padding-top:30px;float:right"><i class="fa fa-refresh" aria-hidden="true"></i></a>*@
                </div>
            </div>
        </div>

    </div>

}

<div class="row no-margin" style="padding-top:10px">
    @{ Html.RenderAction("ReportFrame", "Accounts");}
    @*<iframe src=@ViewBag.ReportOutput width="100%" height="600px"></iframe>*@
</div>