@model LTMSV2.Models.ManifestReportParam

@{
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />

<script type="text/javascript">
    $(function () {
        $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

    });

    $(function () {
        $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

    });

    $(document).ready(function () {
        var url = '/Accounts/GetSupplierName';

    
        $('#ReportType').change(function () {
            if ($('#ReportType').val() == "OutStanding") {
                $("#CustomerName").val('');
                $("#CustomerName").attr('readonly', 'readonly');
                $("#CustomerName").removeAttr('required');
                $('#lblcustomername').removeClass('required');
            }
            else if ($('#ReportType').val() == "AWBOutStanding") {
                $("#CustomerName").val('');
                $("#CustomerName").removeAttr('readonly');
                $("#CustomerName").removeAttr('required');
                $('#lblcustomername').removeClass('required');
            }
            else {
                $("#CustomerName").removeAttr('readonly');
                $('#lblcustomername').addClass('required');
            }
        });
      
        $('#ReportType').trigger('change');

        $("#TDNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Accounts/GetTripData",
                    datatype: "json",
                    data: { 'fromdate': $('#FromDate').val() , 'todate': $('#ToDate').val() },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.RegNo,
                                value: val.RegNo,
                                TruckDetailID: val.TruckDetailID
                            }
                        }))
                    }
                })
            },
            minLength: 0,
            autoFocus: false,
            focus: function (event, ui) {
                $('#TDNo').val(ui.item.value);
                $("#TDID").val(ui.item.TruckDetailID);
            },
            select: function (e, i) {
                e.preventDefault();
                $("#TDNo").val(i.item.label);
                $("#TDID").val(i.item.TruckDetailID);
            }


        });
    });
</script>

<section class="content-header">
    <h1 class="headingfont">@ViewBag.ReportName</h1>
</section>
@using (Html.BeginForm("ManifestReport", "Accounts", FormMethod.Post, new { @id = "manifestreport" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row no-margin d-flex">
        <div class="col-md-5 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="headinglabel required ">From Date</label>
                        @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control text-right", @required = "true" })
                    </div>
                    <div class="col-md-6">
                        <label class="headinglabel required">To Date</label>
                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control text-right", @required = "true" })
                    </div>
                </div>
            </div>
            <div class="col-md-12" >
                <div id="divachead">
                    <label class="headinglabel" id="lblcustomername">Truck Detail No.</label>
                    @Html.TextBoxFor(model => model.TDNo, new { @class = "form-control", @autocomplete = "off" })
                    @Html.HiddenFor(model => model.TDID)
                </div>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-1">
            <div class="col-md-5">
                <label class="headinglabel  required">Output</label>
                @Html.DropDownList("Output", new List<SelectListItem>
                {
                    new SelectListItem{ Text="PDF", Value = "PDF" },
                    new SelectListItem{ Text="EXCEL", Value = "EXCEL" },
                    new SelectListItem{ Text="WORD", Value = "WORD" },

                 }, "Select", new { @class = "form-control", @value = "PDF", @required = "true" })
            </div>         
            <div class="col-md-2">
                <button class="btn btn-primary" id="btnreport" type="submit" style="margin-top:30px;width: 60px!Important;min-width: 50px!important;"><i class="fa fa-refresh" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>   
}
<div class="row no-margin" style="padding-top:10px">
    @{ Html.RenderAction("ReportFrame", "Accounts");}

</div>