@model IEnumerable<LTMSV2.Models.QuickAWBVM>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
        var isadd = true;
        var ismodify = true;
        var isdelete = true;
        var isprint = true;
        var isview = true;
        string path = "/Consignment/Index";

        if (Convert.ToInt32(Session["UserRoleID"]) > 1)
        {
            LTMSV2.Models.SourceMastersModel obj = new LTMSV2.Models.SourceMastersModel();
            isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
            ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
            isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);
            isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);
            isview = obj.GetViewpermission(Convert.ToInt32(Session["UserRoleID"]), path);

        }
    }

    <script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />
    <style>
        tfoot {
            display: table-header-group;
        }
        .dataTables_info{
            display:block!important;
        }
        .tblfont
        {
            font-size:13px;
        }
        .tdphone
        {
            width:50px!important;
        }
        /* .dataTables_paginate 
         {
             display:block!important;
         }*/
    </style>
    <script type="text/javascript">

        $(function () {
            $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

        });
        //$("#FromDate").val(GetCurrentDate());
        //function GetCurrentDate() {
        //    var m_names = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");            
        //    var sd = new Date();
        //    var curr_date = '01';
        //    var curr_month = sd.getMonth()+1;
        //    var curr_year = sd.getFullYear();
        //    return (curr_date + "-" + curr_month + "-" + curr_year);
        //}

        $(function () {
            $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

            $('#ToDate').datepicker("setDate", new Date());
        });

        $(function () {
            $('#txtpickuptime').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });
        });
    </script>
    <script type="text/javascript">
        function ShowLabelPrinting(InScanId) {
            $('#InScanID').val(InScanId);
            $('#txtStartLabelNo').val('');
            $('#txtLabelQty').val('');
            $('#txtIncrement').val('');
            $('#LabelPrintingModal').modal('show');
            $('#txtStartLabel').focus();

        }
        function ShowStatusModal(InScanId) {
            
            $('#InScanID').val(InScanId);

          $.ajax({
            type: "POST",
            url: "/Consignment/GetActiveStatus",
            datatype: "Json",
            data: { 'InScanID': InScanId },
            success: function (response) {
                debugger;
                console.log(response);
                var _detail = response.data;
                console.log(_detail);
                $('#CourierStatusId').val(_detail.CourierStatusID);
                $('#StatusTypeId').val(_detail.StatusTypeID);
                $('#ChangeStatusTypeId').val(_detail.StatusTypeID).trigger('change');                                               

                 $('#StatusModal').modal('show');

            }
        });
              
    }
        $(document).ready(function () {
            $('#dataTables-example tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" style="width:100%" />');
            });


            var table = $('#dataTables-example').DataTable({
                "aaSorting": [],
                //"dom": '<"top"i>rt<"top"flp><"clear">',
                	//dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
                 //       "<'row'<'col-sm-12'tr>>" +"<'row'<'col-sm-5'i><'col-sm-7'p>>",
                 //"pagingType": "simple"
            });
            table.draw();
           table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });

            $('#btnprintLabel').click(function ()  {
                debugger;
                if ($('#txtStartLabelNo').val() == '') {
                    $('#lblerr').html('Enter Start Label No.!');
                    $('#txtStartLabelNo').focus();
                    return;
                }
                else if ($('#txtLabelQty').val() == '') {
                    $('#lblerr').html('Enter Start Label Qty.!');
                    $('#txtLabelQty').focus();
                    return;
                }
                else if ($('#txtIncrement').val() == '' || $('#txtIncrement').val() == '0') {
                    $('#lblerr').html('Enter Start Label Increment!');
                    $('#txtIncrement').focus();
                    return;
                }

                var printobj = {
                    LabelStartNo: $('#txtStartLabelNo').val(),
                    LabelQty: $('#txtLabelQty').val(),
                    Increment: $('#txtIncrement').val(),
                    InScanId: $('#InScanID').val(),
                    ConsignmentNo: '',
                    Output: "PDF",
                    ReportFileName :""
                };

                $.ajax({
                    type: "POST",
                    url: "/Consignment/GenerateLabelPrinting",                    
                    data: JSON.stringify(printobj),
                    datatype: "Json",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        console.log(response);
                        $('#LabelPrintingModal').modal('hide');

                     //   window.open("~/Consignment/LabelPrinting?consignmentno=" + response, "_blank");

                    }
                });

            });


               $('#ChangeStatusTypeId').change(function () {
            debugger;
            var pcourierstatusid = $('#CourierStatusId').val();
            if (pcourierstatusid == null)
                pcourierstatusid = 0;

            $.ajax({
                type: "POST",
                url: "/Consignment/GetStatus",
                datatype: "Json",
                data: { 'StatusTypeId' : $('#ChangeStatusTypeId').val() },
                success: function (response) {
                    debugger;                                   
                    //$('#CourierStatusId').select2("destroy");
                    $('#ChangeCourierStatusId').html('');
                    var opthtml = '<option value="0">Select</option>';
                    $(response.data).each(function (index, item) {                        
                        if (item.id == pcourierstatusid) {
                               opthtml += '<option selected value="' + item.id + '">' + item.text + '</option>';
                        }
                        else {
                            opthtml += '<option value="' + item.id + '">' + item.text + '</option>';
                        }
                    });
                    $('#ChangeCourierStatusId').html(opthtml);
                     $('#ChangeCourierStatusId').val($('#CourierStatusId').val()).trigger('change');
                    //$('#CourierStatusId').val(response.data[2].id);
                    //$('#ChangeCourierStatusId').select2();
                    //$('#CourierStatusId').val("2").trigger('change');
                    //$('#CourierStatusId').select2('data', response.data[2]);
                    //$('#CourierStatusId').val('2').text(response.data[2].text);
                    

                    // $('#ChangeCourierStatusId').select2({
                    //        width: '100%',
                    //        allowClear: true,
                    //        multiple: false,
                    //        maximumSelectionSize: 1,
                    //        minimumResultsForSearch :-1,
                    //        placeholder: "Select Status"                            
                    //        });

                    }
              });
           });

           $('#btnsavestatus').click(function () {                     
                         
             var statusobj = {
                InScanID: $('#InScanID').val(),
                StatusTypeID: $('#ChangeStatusTypeId').val(),
                CourierStatusID: $('#ChangeCourierStatusId').val(),
                CourierStatusText: '' //$("#ChangeCourierStatusId option:selected").text()
            };

             $.ajax({
                type: "POST",
                url: "/Consignment/SaveStatus",
                datatype: "Json",
                data: statusobj,
                success: function (response) {
                    debugger;                    
                    if (response.status == "ok") {
                        $.notify("Status Updated Successfully!", "success");
                        window.location.reload();
                    }
                    else
                    { $.notify("Save Failed :" + response.message, "warning"); }

                    
                     $('#StatusModal').modal('hide');
                }
            });
                                     

        });

        });


    </script>
    <section class="content-header">
        <h1 class="headingfont">Consignments</h1>

    </section>

    <div class="row no-margin">
        <div class=" d-flex">
            <div class="col-md-2">
                <input type="hidden" id="InScanID" />
                <input type="hidden" id="CourierStatusId" />
                <input type="hidden" id="StatusTypeId" />
                <label class="headinglabel">Status</label>
                @Html.DropDownList("StatusId", new SelectList(@ViewBag.CourierStatus, "CourierStatusID", "CourierStatus", @ViewBag.StatusId), "Select All", new { @class = "form-control", @value = 1, @id = "StatusId", @name = "StatusId" })
            </div>
            <div class="col-md-1">
                <label class="headinglabel">From </label>
                <input id="FromDate" class="form-control text-right" name="FromDate" type="text" value="@ViewBag.FromDate" />
                @*@Html.TextBox("FromDate",new { @class = "form-control txttarget" })*@
            </div>

            <div class="col-md-1">
                <label class="headinglabel">To </label>
                <input type="text" id="ToDate" name="ToDate" class="form-control text-right" value="@ViewBag.ToDate" />
                @*@Html.TextBox("ToDate", new { @class = "form-control txttarget" })*@
            </div>

            <div class="pull-left" style="padding-top:32px; padding-right:15px;padding-left:15px;">
                <a class="btn btn-primary btnwidth" href="Javascript:void(0)" style="width: 60px!Important;min-width: 50px!important;" onclick="location.href='@Url.Action("Index", "Consignment")?StatusId=' + $('#StatusId').val() + '&FromDate=' + $('#FromDate').val() + '&ToDate=' + $('#ToDate').val()"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                <a class="btn btn-primary btnwidth" href="Javascript:void(0)" style="width: 60px!Important;min-width: 50px!important;" onclick="location.href='@Url.Action("PrintAWBRegister", "Consignment")?StatusId=' + $('#StatusId').val() + '&FromDate=' + $('#FromDate').val() + '&ToDate=' + $('#ToDate').val()"><i class="fa fa-print" aria-hidden="true"></i></a>
            </div>
            <div class="pull-left" style="padding-top:32px;">
                <p class="indexbtnpadding">
                    @if (@LTMSV2.Models.CommanFunctions.CheckCreateEntryValid() == false || !isadd)
                    {
                    @Html.ActionLink("Create New", "Create", null, new { @disabled = "disabled", @class = "btn btn-primary btnwidth",@Title="Create Not allowed in the previous financial year" })
                    }
                    else
                    {
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btnwidth" })
                    }

                </p>
            </div>
        </div>
    </div>

    <section class="content">
        @if (TempData["SuccessMsg"] != null)
        {
            <script type="text/javascript">
                  $(document).ready(function () {
                      $.notify("@TempData["SuccessMsg"]", "success");
                 });
            </script>
        }
        @if (TempData["ErrorMsg"] != null)
        {
            <script type="text/javascript">
                  $(document).ready(function () {
                      $.notify("@TempData["ErrorMsg"]", "error");
                 });
            </script>
        }

        <div class="table-responsive tblbackground" style="padding:15px">
            <table class="table table-responsive table-bordered tblfont" id="dataTables-example" style="width:100%">

                <thead>
                    <tr>
                        <th width="8%">
                            Consignment No.
                        </th>
                        <th width="8%">
                            @Html.Label("Transaction Date")
                        </th>
                        <th width="15%">
                            @Html.Label("Shipper/Consignor")
                        </th>
                        <th width="15%">
                            @Html.Label("Receiver/Consignee")
                        </th>
                        <th width="3%" class="tdphone">
                            Invoice To
                        </th>                       
                        <th>
                            @Html.Label("Payment Mode")
                        </th>
                        <th>
                            @Html.Label("Amount")
                        </th>
                        <th width="15%">
                            @Html.Label("Status")
                        </th>

                        <th width="15%">Action</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>

                        </th>
                        <th class="right_text">

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                      
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>

                        <th style="display:none"></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.ConsignmentNo)
                            </td>
                            <td class="text-right">
                                @*@Html.DisplayFor(modelItem=>item.InScanDate)*@
                                @*@Html.DisplayFor(modelItem => item.InScanDate, "{0:dd/MMM/yyyy}")*@
                                @LTMSV2.Models.CommanFunctions.GetShortDateFormat(@item.InScanDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.shippername)
                                @Html.DisplayFor(modelItem => item.ConsignorCountryName)
                                @Html.DisplayFor(modelItem => item.ConsignorPhone)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.consigneename)
                                @Html.DisplayFor(modelItem => item.ConsigneeCountryName)
                                @Html.DisplayFor(modelItem => item.ConsigneePhone)
                            </td>
                            <td class="tdphone">
                                @Html.DisplayFor(modelItem => item.InvoiceTo)
                            </td>                            
                            <td>
                                @Html.DisplayFor(modelItem => item.paymentmode)
                            </td>
                            <td style="text-align:right">
                                @LTMSV2.Models.CommanFunctions.GetDecimalFormat(@item.totalCharge, "2")
                                @*@Html.DisplayFor(modelItem => item.totalCharge)*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourierStatus)
                            </td>
                            <td>
                                <a href="#" title="Change Satus" onclick="ShowStatusModal('@item.InScanID')"><i class="fa fa-file"></i></a> |
                                @if (ismodify)
                                {
                                    <a href="@Url.Action("Create", new { id = item.InScanID})"><i class="fa fa-pencil"></i>|</a>
                                }
                                @if (isview)
                                {
                                    <a href="Details?id=@item.InScanID"><i class="fa fa-eye"></i>|</a>
                                }
                                @if (isdelete)
                                {
                                    <a href="#" onclick="Delete(ID=@item.InScanID)"><i class="fa fa-times"></i>|</a>
                                }
                                @if (isprint)
                                {
                                    @*<a href="@Url.Action("AWBPrint", "Consignment", new { id = item.InScanID })"><i class="fa fa-print"></i></a>*@
                                    <a href="#" title="Label Printing" onclick="ShowLabelPrinting('@item.InScanID')"><i class="fa fa-print"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="modal fade" id="LabelPrintingModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #f5f5f5;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">
                            Label Printing
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row" style="padding-top: 5px">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-3">
                                            Starting No.
                                        </div>
                                        <div class="col-xs-7 col-sm-9">
                                            <input type="text" id="txtStartLabelNo" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px">
                                        <div class="col-xs-5 col-sm-3">
                                            Label  Qty
                                        </div>
                                        <div class="col-xs-7 col-sm-9">
                                            <input type="text" id="txtLabelQty" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px">
                                        <div class="col-xs-5 col-sm-3">
                                            Increment
                                        </div>
                                        <div class="col-xs-7 col-sm-9">
                                            <input type="text" id="txtIncrement" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer" style="padding-top: 5px">
                        <label id="lblerr"></label>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" name="Command" value="Print" class="btn btn-primary" id="btnprintLabel">Print</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="StatusModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #f5f5f5;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">
                            Change Status
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row" style="padding-top: 5px">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-3">
                                            Shipment Status
                                        </div>
                                        <div class="col-xs-7 col-sm-9">
                                            @Html.DropDownList("StatusTypeId", new SelectList(@ViewBag.StatusTypeList, "ID", "Name", 0), "Select", new { @class = "form-control", @id = "ChangeStatusTypeId", @name = "ChangeStatusTypeId" })
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px">
                                        <div class="col-xs-5 col-sm-3">
                                            Courier Status
                                        </div>
                                        <div class="col-xs-7 col-sm-9">
                                            @Html.DropDownList("CourierStatusId", new SelectList(@ViewBag.CourierStatusList, "CourierStatusID", "CourierStatus", @ViewBag.CourierStatusId), "Select", new { @class = "form-control", @id = "ChangeCourierStatusId", @name = "ChangeCourierStatusId" })
                                            @*<input type="text" id="ChangeCourierStatusId" class="form-control" value="2" width="100%" />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding-top: 5px">
                        <input type="hidden" id="hdnCountryID" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" name="Command" value="SaveStatus" class="btn btn-primary" id="btnsavestatus">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        function Delete(ID) {
            if (confirm("Are you sure, You want to Delete Consignment Entry?")) {
                window.location.href = "/Consignment/DeleteConfirmed/?id=" + ID;
            }
        }
    </script>
