@model IEnumerable<LTMSV2.Models.DriverVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<style>
     tfoot {
            display: table-header-group;
     }
        </style>


<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" style="width:100%" />');
        });


        var table = $('#dataTables-example').DataTable();

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

    });


</script>
<section class="content-header">
    <h1 class="headingfont">Driver Master</h1>

</section>
<div class="col-md-12">
<p class="indexbtnpadding pull-right">
    @Html.ActionLink("Create New", "Create",null,new {@class="btn btn-primary btnwidth"})
</p>
</div>
<div class="clearfix"></div>



<section class="content">
      @if (TempData["SuccessMsg"] != null)
      {
    @* <div class="alert alert-success alert-dismissable" role="alert" id="divMsgHeader" ng-show="SuccessAlert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4><i class="icon fa fa-check"></i>Alert!</h4>
                                            <div id="divFinalMsg">@TempData["SuccessMsg"]</div>
                                        </div>*@
             <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                 });
                                                </script>
      }
    <div class="table-responsive tblbackground" style="padding:15px">
<table class="table table-responsive table-bordered tblfont" id="dataTables-example">


    <thead>
    <tr>
        <th style="width:10%">
             Driver Type
        </th>
        <th style="width:35%">
          @Html.Label("Driver Name")
        </th>
        <th>
           Vechicle Reg No.
        </th>           
        <th>
           Phone No.
        </th>
        <th>
           @Html.Label("Mobile")
        </th>
       
       
        <th>Action</th>
    </tr>
        </thead>

     <tfoot>
    <tr>
        <th>
             @Html.Label("Driver Type")          
        </th>          
        <th>
          @Html.Label("Driver Name")
        </th>
        <th>
         @Html.Label("RegNo")
        </th>         
        <th >
           @Html.Label("Phone No.")
        </th>
        <th>
           @Html.Label("Mobile")
        </th>
              
        <th>Action</th>
    </tr>
        </tfoot>
<tbody>
@foreach (var item in Model)
{
    
    <tr>
      
       
        <td>
            @Html.DisplayFor(modelItem => item.DriverType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverName)
        </td>
           
        <td>
            @Html.DisplayFor(modelItem => item.RegNo)
        </td>
       
        <td class="textright">
            @Html.DisplayFor(modelItem => item.PhoneNo1)
        </td>
          <td class="textright">
            @Html.DisplayFor(modelItem => item.PhoneNo2)
        </td>
       
        <td>
           <a href="@Url.Action("Create", new { id = item.DriverID })"><i class="fa fa-pencil"></i></a> |
            @*<a href="@Url.Action("Delete", new { id = item.RoleID })"><i class="fa fa-times"></i></a>*@
            <a href="#" onclick="Delete(ID=@item.DriverID)"><i class="fa fa-times"></i></a>
        </td>
    </tr>
}
    </tbody>

</table>
        </div>
    </section>
<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete the Driver?")) {
            window.location.href = "/Driver/DeleteConfirmed/?id=" + ID;
        }
    }
</script>