@model IEnumerable<LTMSV2.Models.DRSVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<style>
     tfoot {
            display: table-header-group;
     }
        </style>


<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" style="width:100%" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

    });


</script>
<section class="content-header">
    <h1 class="headingfont">OutScan</h1>

</section>
<p class="indexbtnpadding pull-right" style="padding-right:15px;">
    @Html.ActionLink("Create New", "Create",null,new {@class="btn btn-primary btnwidth"})
</p>
<div class="clearfix"></div>

<section class="content">
      @if (TempData["SuccessMsg"] != null)
    {
    @* <div class="alert alert-success alert-dismissable" role="alert" id="divMsgHeader" ng-show="SuccessAlert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4><i class="icon fa fa-check"></i>Alert!</h4>
                                            <div id="divFinalMsg">@TempData["SuccessMsg"]</div>
                                        </div>*@
             <script type="text/javascript">
                 $(document).ready(function () {
                     $.notify("@TempData["SuccessMsg"]", "success");
                      });
                                                </script>
    }
    <div class="table-responsive tblbackground" style="padding:15px">
<table class="table table-responsive table-bordered tblfont" id="dataTables-example">

    <thead>
    <tr>
      
        <th>
           DRS No.
        </th>
        <th>
            @Html.Label("Date")
        </th>
        <th>
            @Html.Label("Courier")
        </th>
         <th>
            @Html.Label("Vehicle")
        </th>
         <th>
            @Html.Label("COD")
        </th>
         <th>
            @Html.Label("Material Cost")
        </th>
       
        <th>Action</th>
    </tr>
        </thead>
    <tfoot>
         <tr>
      
         <th>
           DRS No.
        </th>
        <th class="right_text">
            @Html.Label("Date")
        </th>
        <th>
            @Html.Label("Courier")
        </th>
         <th>
            @Html.Label("Vehicle")
        </th>
         <th>
            @Html.Label("COD")
        </th>
         <th>
            @Html.Label("Material Cost")
        </th>
       
        <th style="display:none"></th>
    </tr>
    </tfoot>
@foreach (var item in Model) {
    <tr>
        <td style="text-align:right">
            @Html.DisplayFor(modelItem => item.DRSNo)
        </td>
      
        <td>
             @LTMSV2.Models.CommanFunctions.GetShortDateFormat(item.DRSDate)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Deliver)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.vehicle)
        </td>
         <td style="text-align:right">
             
             @Html.DisplayFor(modelItem => item.TotalAmountCollected)
         </td>      
         <td style="text-align:right">
             @Html.DisplayFor(modelItem => item.TotalMaterialCost)
         </td>      
      
        
        <td>
        @*    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) *@
             <a href="@Url.Action("Create", new { id = item.DRSID })"><i class="fa fa-pencil"></i></a>|
        <a href="#" onclick="Delete(ID=@item.DRSID)"><i class="fa fa-times"></i></a>
        </td>
    </tr>
}

</table>
        </div>
    </section>

<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete OutScan?")) {
            window.location.href = "/OutScan/DeleteConfirmed/?id=" + ID;
        }
    }
</script>